.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel {
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
  margin-left: 100%;
}

.box {
  width: 300px;
  height: 300px;
  touch-action: none;
  background-size: contain;
  background-repeat: no-repeat;
}
