@import "../../text-mixins.scss";

$even-color: #0b121a;
$odd-color: #85c3ed;

.testCard {
  height: calc(100% / 3);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  @include text-display-sm(700);

  &:nth-child(odd) {
    background-color: $even-color;
  }
  &:nth-child(even) {
    background-color: $odd-color;
  }

  :global(.ant-btn-default) {
    &:disabled {
      color: #ffffff86;
    }
  }
}

.testId {
  @include text-sm(600);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  padding: 24px 0 40px 60px;

  > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
