.categoryApp {
  padding: 37px 24px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subTitle {
  color: var(--color-light-main-primary-dark-6);
}

.gird {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
