:root {
  // COLORS
  --color-blue: #130f26;
  --color-grey: #878ea2;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-main-primary-dark-4: #a6a7ac;
  --color-light-main-primary-dark-2: #e1e1e3;

  //   BORDERS
  --default-border: 1px solid var(--color-light-main-primary-dark-2, #e1e1e3);
}
